.body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.clearBg {
  background-color: rgba(133, 188, 208, 0.4)
}

.cloudBg {
  background-color: rgba(189, 195, 199, 0.4)
}

.drizzleBg {
  background-color: rgba(188, 212, 218, 0.4);
}

.rainBg {
  background-color: rgba(55, 119, 151, 0.4);
}

.snowBg {
  background-color: rgba(116, 120, 132, 0.4);
}

.container {
  width: 1050px;
  height: 600px;
  position: relative;
  box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.2);
}

.bg {
  position: absolute;
}

.bgImg {
  width: 1050px;
  height: 600px;
  object-fit: cover;
  border-radius: 12px;
  filter: brightness(90%)
}

.content {
  width: 400px;
  right: 0px;
  height: 600px;
  padding: 0 15px;
  position: absolute;
  border-radius: 0 12px 12px 0;
  background: rgba(0, 0, 0, 0.7);

}

.topBar {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  border-bottom: solid 1px #ebfffc;
}

.topBar input {
  width: 260px;
  height: 40px;
  border: none;
  display: flex;
  outline: none;
  font-size: 20px;
  background: none;
  color: #ebfffc;
  font-weight: 400;
}

.searchIcon {
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}

.weatherIcon {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.weatherIcon img {
  width: 160px;
  height: 160px;
}

.weatherTemp {
  display: flex;
  font-size: 60px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 400;
  justify-content: center;
}

.weatherLocation {
  display: flex;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  justify-content: center;
}

.dataContainer {
  margin-top: 30px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.element {
  gap: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  font-size: 20px;
  font-weight: 400;
}

.text {
  font-size: px;
  font-weight: 400;

}

.iconElement {
  margin-top: 10px;
}